.main-card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 15px; /* 5px rounded corners */
    /*width: 80%;*/
}

.main-card  * {
    margin-bottom: 10px;
}

.main-card .file-input{
    width: 200px;
}

.main-card img {
    max-width: 100%;
}

.main-card .question-input {
    width: 100%;
    height: 30px;
    border-radius: 8px;
}

.main-card .upload-button {
    border-radius: 8px;
}

.main-card .error-text {
    color: #8c1111;
}